
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-discord"></i>
        </div>
        <div class="f-info-brand">&copy; Travel Haven Private Limited</div>
        <div class="f-info-links" id="">
            <a href="/privacy">Privacy</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a> &nbsp;&nbsp;&nbsp;&nbsp
            <a href="/sitemaps">SiteMaps</a> &nbsp;&nbsp;&nbsp;&nbsp
            <a href="/details">Company details</a> &nbsp;&nbsp;&nbsp;&nbsp
        </div>
    </div>
</footer>

<style>
     body.dark-mode .f-info{
        background-color: black;
        
     }
     body.dark-mode .f-info-links{
        color: white;

     }
</style>










