<% layout('/layouts/boilerplate.ejs') -%>
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header h5 {
    color: grey;
}

header h1 {
    font-size: 2em;
}

.image-section img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.content h2 {
    margin-top: 20px;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    margin-bottom: 5px;
}

.content ul li a {
    color: #0073bb;
    text-decoration: none;
}

.content ul li a:hover {
    text-decoration: underline;
}

</style>
<body>
    <div class="container">
        <header>
            <h5>Legal terms</h5>
            
        </header>

        <div class="image-section">
            <img src="images/photo.png" style="height: 400px; width: 600px;">
        </div>

        <section class="content">
            <h2>Privacy Policy</h2>
            <p>Our Privacy Policy explains what personal information we collect, how we use personal information, how personal information is shared, and privacy rights.</p>
            <h3>Privacy Policy</h3>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p>Please review the supplemental privacy policies linked within the privacy policy documents, such as for certain Airbnb services, that may be applicable to you.</p>
            <h3>Supplemental Privacy Policy Documents</h3>
            <ul>
                <li><a href="#">Outside the United States</a></li>
                <li><a href="#">State-Specific Supplements</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Enterprise Customers and Airbnb for Work</a></li>
                <li><a href="#">Privacy Supplement for China Users</a></li>
                <li><a href="#">Colombia Only</a></li>
                <li><a href="#">Türkiye Only</a></li>
                <li><a href="#">Non-User DAC7 Privacy Notice</a></li>
            </ul>
        </section>
    </div>
</body>
